.grid-container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-grow: 1;
}
.square {
  border: 1px solid black;
  flex-grow: 1;
}
.transition-trail {
  transition: all 2s;
}
